<!DOCTYPE html>
<html>
	<head>
		<title>IZCC Joker</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/index.css' />
	</head>
	<body>
		<div id="main">
			<h1>IZCC Poker</h1>
			<input id="username" placeholder="username" type="text" required>
			<input id="id" type="hidden">
			<hr>
			<input id=roomId placeholder="room ID" type="number">
			<button id="join">Join a room</button>
			<br>
			<h2>Or create a new room</h2>
			<button id="create">Create</button>
			<hr>
		</div>
		<script src="/script/jquery-3.4.1.js"></script>
		<script src="/script/index.js"></script>
	</body>
</html>
