<!DOCTYPE html>
<html lang="zh_TW">
	<head>
		<meta charset="UTF-8">
		<title>JOKER</title>
		<style>
			#playground, #canvas {
				height: 100vh;
				width: 100vw;
			}
		</style>
	</head>
	<body>
		<h1>抽鬼牌</h1>
		<hr>
		<div id="infor">
			<h2>username: <%= username %></h2>
			<h3>id: <%= id %></h3>
		</div>
		<div id="playground">
			<canvas id="canvas">Sorry your browser don't support canvas. Use firefox instead</canvas>
		</div>
		<script src=""></script>
	</body>
</html>
